@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Banking Application</h1>
    <p class="lead">Welcome and thank you for choosing our portal to manage banking services for you.</p>
</div>

<div class="row">
    
</div>